{% extends 'base.html.twig' %}

{% block body %}
    <div class="row content">

        <div class="col-sm-6">
            <div class="row mt-3 mb-3 text-dark font-weight-bold">
                <div class="col-md-6 text-right">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span
                            class="open-issues-count">{{ openCount }} Open</span>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <span
                            class="closed-issues-count">{{ closedCount }} Closed</span>
                </div>
            </div>
            <div class="issues-left scroll">
                <div class="col-md-12">
                    {% for item in issues %}
                        <div class="mt-4 mb-4">
                            {% include 'issue/list/list_item.html.twig' with { 'item': item } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    {% include "components/block/pager_block.html.twig" with {'pagination': pagination, 'style': 'page-link round link-green', 'arrows':false} %}
                </div>
            </div>
        </div>

        <div class="col-sm-6 issues-right d-flex bd-highlight">
            <div class="mr-auto align-self-center p-2 bd-highlight col-md-12 text-center">
                <div class="font-lg">{{ 'issues.right_title'|trans }}</div>
                <div class="font-md">by <img class="pb-sm-1" src="{{ asset('build/images/testio-white.png') }}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
