.f-size-8 {
  font-size: 8px;
}

.f-size-10 {
  font-size: 10px;
}

.f-size-11 {
  font-size: 11px;
}

.f-size-12 {
  font-size: 12px;
}

.f-size-16 {
  font-size: 16px;
}

.f-size-18 {
  font-size: 18px;
}

.f-size-20 {
  font-size: 20px;
}

.text-green {
  color: $green;

  & a:hover{
    color:$green-dark;
    text-decoration: none;
  }
}

.text-dark-green {
  color: $green-dark;

  & a:hover {
    color: $green-light;
    text-decoration: none;
  }
}

.text-light-green {
  color: $green-light;
  & a:hover {
    color: $green-dark;
    text-decoration: none;
  }
}

.text-grey-light {
  color: $grey-light;

  & a:hover {
    color: $green-light;
    text-decoration: none;
  }
}

.text-grey {
  color: $grey;

  & a:hover {
    color: $green-light;
    text-decoration: none;
  }
}

.text-black {
  color: black;
  & a:hover {
    color: $green-light;
    text-decoration: none;
  }
}
