$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

$black: #000000;
$green: #9fd533;
$green-dark: #86b300;
$green-light: #99cc33;
$bg-color: #f5f5f5;
$white: #ffffff;
$grey-dark: #666666;
$grey-light: #cccccc;
$grey: #dddddd;
$grey-light: #efefef;

$break-small: 320px;
$break-medium: 640px;
$break-large: 1200px;

@import url('https://fonts.googleapis.com/css?family=Roboto:300:400,700');
$font: 'Roboto', sans-serif;
