{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="login-background">
        <div class="login-container">
            <div class="login-logo"></div>
            {% if error is defined and error %}
                <span>{{ error }}</span>
            {% endif %}
            {% for owner in hwi_oauth_resource_owners() %}
                <div class="login-button">
                    <a href="{{ hwi_oauth_login_url(owner) }}">{{ 'login.login_with_button'|trans }} {{ owner|capitalize }}</a> <br/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
