<div class="header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <img class="header-logo" src="{{ asset('build/images/testio-dark.png') }}" alt="logo">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <div class="text-right align-middle">
                <a class="header-logout f-size-16" href="{{ path('fos_user_security_logout') }}">
                    {{ 'logout'|trans }} <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
